.main-content {
    padding: 0 10%;
}

body .main-content h2 div {
    display: inline-block;
    vertical-align: middle;
}

.head h1 {
    padding-top: 1rem;
}

ul p {
    white-space: pre-wrap;
}

.head {
    text-align: center;
}

.item-split {
    margin: 0 10px;
}

.deco-img {
    margin-right: 5px;
}

.print {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: auto;
    padding: 5px 12px;
    cursor: pointer;
    color: #58985C;
    border-radius: 3px;
    background-color: white;
    z-index: 99;
}

.print:hover {
    outline: #58985C;
}

.common-ul {
    line-height: 1.3em;
    word-break: break-all;
    white-space: pre-line;
}

.common-ul li {
    line-height: 1.5em;
}
